<%- include ('../partials/header'); %>


<div class="container text-center mt-4">
<header>
	<div class="jumbotron">
       <h1>WELCOME TO YELPCAMP!!!!</h1>
    </div>
</header>


<a href="/campGround" class="btn btn-primary">NEXT GAMEGROUND</a>




</div>

<%- include ('../partials/footer'); %>